h1 Success!
p Here are your cards: 
- for( var i = 0; i < results.length; i++ ) {
- var textbody = results[i]
    p= textbody.card_id ? textbody.card_id : 'null'
    p= textbody.psa_rating ? textbody.psa_rating : 'null'
    p= textbody.date_uploaded ? textbody.date_uploaded : 'null'
    p= textbody.user_id ? textbody.user_id : 'null'
    p= textbody.date_aquired ? textbody.date_aquired : 'null'
    p= textbody.info_id ? textbody.info_id : 'null'
    p= textbody.collection ? textbody.collection : 'null'
    br
- }